name: Terraform CI/CD

on:
  push:
    branches:
      - eks-2
  pull_request:
    branches:
      - eks-2

jobs:
  terraform:
    name: 'Terraform Plan and Apply'
    runs-on: ubuntu-latest

    env:
      AWS_REGION: eu-west-3
      CLUSTER_NAME: kbnhvn-cluster
      JENKINS_ADMIN_PASSWORD: ${{ secrets.JENKINS_ADMIN_PASSWORD }}
      CLOUDNS_API_URL: "https://api.cloudns.net/dns"
      CLOUDNS_AUTH_ID: ${{ secrets.CLOUDNS_AUTH_ID }}
      CLOUDNS_AUTH_PASSWORD: ${{ secrets.CLOUDNS_AUTH_PASSWORD }}
      DOMAIN_NAME: "kbnhvn-project.eu"
      SUBDOMAIN: "jenkins"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/eks-2' && github.event_name == 'push'
        run: terraform apply -input=false -auto-approve tfplan

      - name: Get Terraform Outputs
        id: tf_outputs
        run: |
          PUBLIC_SUBNETS=$(terraform output -json public_subnets | jq -r '.[]' | paste -sd "," - | sed 's/,/\\,/g')
          echo "Extracted and Escaped PUBLIC_SUBNETS=${PUBLIC_SUBNETS}"
          echo "PUBLIC_SUBNETS=${PUBLIC_SUBNETS}" >> $GITHUB_ENV
          echo "IAM_ROLE_ARN=$(terraform output -raw traefik_role_arn)" >> $GITHUB_ENV
          echo "SSL_CERT_ARN=$(terraform output -raw ssl_cert_arn)" >> $GITHUB_ENV

      - name: Install kubectl
        uses: azure/setup-kubectl@v1
        with:
          version: 'v1.21.0'

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash

      - name: Install AWS Load Balancer Controller
        run: |
          helm repo add eks https://aws.github.io/eks-charts
          helm repo update eks
          helm upgrade --install aws-load-balancer-controller eks/aws-load-balancer-controller \
          -n kube-system \
          --set clusterName=kbnhvn-cluster \
          --set serviceAccount.create=false \
          --set serviceAccount.name=aws-load-balancer-controller \
          --set enableServiceMutatorWebhook=false

      - name: Install Traefik CRDs and RBAC
        run: |
          kubectl apply -f https://raw.githubusercontent.com/traefik/traefik/v2.8/docs/content/reference/dynamic-configuration/kubernetes-crd-definition-v1.yml
          kubectl apply -f https://raw.githubusercontent.com/traefik/traefik/v2.8/docs/content/reference/dynamic-configuration/kubernetes-crd-rbac.yml

      - name: Deploy Traefik
        run: |
          kubectl apply -f k8s-configs/traefik/deployment.yaml
          kubectl apply -f k8s-configs/traefik/service.yaml
          kubectl apply -f k8s-configs/traefik/ingress.yaml
          kubectl apply -f k8s-configs/traefik/ingressroute.yaml

      - name: Deploy Jenkins via Helm
        run: |
          helm repo add jenkins https://charts.jenkins.io
          helm repo update
          helm upgrade --install jenkins jenkins/jenkins \
            --set controller.admin.password=${{ env.JENKINS_ADMIN_PASSWORD }} \
            --set persistence.enabled=true \
            --set persistence.storageClass=gp2 \
            --set persistence.size=10Gi \

      - name: Apply Jenkins IngressRoute
        run: |
          kubectl apply -f k8s-configs/jenkins-ingressroute.yaml

      - name: Apply Jenkins Agent ConfigMap
        run: |
          kubectl apply -f k8s-configs/jenkins-agent-config.yaml

      - name: Get Jenkins Ingress IP
        id: get_jenkins_ip
        run: |
          export SERVICE_IP=$(kubectl get svc traefik --namespace kube-system -o jsonpath='{.status.loadBalancer.ingress[0].ip}')
          echo "JENKINS_URL=http://$SERVICE_IP" >> $GITHUB_ENV

      - name: Update ClouDNS A Record
        run: |
          curl -X POST "${{ env.CLOUDNS_API_URL }}/add-record.json" \
            -d "auth-id=${{ env.CLOUDNS_AUTH_ID }}" \
            -d "auth-password=${{ env.CLOUDNS_AUTH_PASSWORD }}" \
            -d "domain-name=${{ env.DOMAIN_NAME }}" \
            -d "record-type=CNAME" \
            -d "host=${{ env.SUBDOMAIN }}" \
            -d "record=${{ env.SERVICE_IP }}" \
            -d "ttl=60"

      - name: Output Jenkins URL
        run: echo "Jenkins is available at http://${{ env.SUBDOMAIN }}.${{ env.DOMAIN_NAME }}"

      - name: Apply Jenkins RBAC
        run: |
          kubectl apply -f k8s-configs/jenkins-rbac.yaml

      - name: Generate Kubeconfig for Jenkins
        run: |
          TOKEN=$(kubectl -n default get secret $(kubectl -n default get sa/jenkins -o jsonpath="{.secrets[0].name}") -o jsonpath="{.data.token}" | base64 --decode)
          CLUSTER_NAME=$(kubectl config view --minify -o jsonpath='{.clusters[0].name}')
          CLUSTER_ENDPOINT=$(kubectl config view --minify -o jsonpath='{.clusters[0].cluster.server}')
          CLUSTER_CA=$(kubectl config view --minify -o jsonpath='{.clusters[0].cluster.certificate-authority-data}')
          cat <<EOF > kubeconfig-jenkins
          apiVersion: v1
          kind: Config
          clusters:
          - cluster:
              certificate-authority-data: ${CLUSTER_CA}
              server: ${CLUSTER_ENDPOINT}
            name: ${CLUSTER_NAME}
          contexts:
          - context:
              cluster: ${CLUSTER_NAME}
              user: jenkins
            name: jenkins-context
          current-context: jenkins-context
          users:
          - name: jenkins
            user:
              token: ${TOKEN}
          EOF

      - name: Upload Kubeconfig to Jenkins
        uses: actions/upload-artifact@v2
        with:
          name: kubeconfig-jenkins
          path: kubeconfig-jenkins
